<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="HomePage">
    <classes>
      <class name="com.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
   
   
   <test  name="MensWatchePage">
    <classes>
      <class name="com.testcases.MensWatchePageTest"/>
    </classes>
  </test> <!-- Test -->
   
   <test  name="AfterFilterMensPage">
    <classes>
      <class name="com.testcases.MensFilterWatchesPageTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
